* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(243, 243, 243);
    
}

/*Nav Menu*/
.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 25px;
    transition: 0.3s;
}

#logo {
    width: 180px;
}

#logo a {
    display: block;

}

#logo a img {
    display: block;
    width: 80%;
    margin-left: 30px;
}

#navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.menu {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items:  center;
    z-index: 1;
    transition: 0.5s;
}

.menu li {
    list-style-type: none;
}

.menu li a {
    text-decoration: none;
    display: block;
    padding: 40px 20px;
    margin-right: 40px;
    line-height: 1;
    transition: 0.3s;
    color:#737373;
}

.menu li a:hover {
    box-shadow: 0 -5px 0px rgb(94, 197, 118) inset,
    500px 0 0 rgb(255, 255, 255, 0.03) inset;
    padding: 35px 25px 45px 25px;
    color: green;
}

/*Content*/
.container1 {
    display: block;
    height: 655px;
}

.imgContainer {
    position: absolute;
    margin-left: 55rem;
    margin-top: 6rem;
    width: 450px;
}

.highlight {
    height: 40px;
    width: 105px;
    border-radius: 9px;
    background: linear-gradient(135deg, #39b385, #9be15d);
}

.container1 h1 {
    position: absolute;
    margin-left: 140px;
    margin-top: 170px;
    font-size: 2.9rem;
    color: rgb(68, 68, 68);
}

.container1 h4 {
    position: absolute;
    margin-top: 325px;
    margin-left: 140px;
    color: rgb(68, 68, 68);
    font-size: 1.2rem;
}

.learnMoreBtn {
    position: absolute;
    margin-top: 380px;
    cursor: pointer;
    border: none;
    border-bottom: 1px solid rgb(94, 197, 125);
    color: rgb(94, 197, 125);
    margin-left: 140px;
    font-size: 0.9rem;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color:rgb(94, 197, 118);
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
  }
  
  #myBtn:hover {
    background-color: rgb(68, 68, 68);
  }

/*Container 2*/
.container2 {
    position: relative;
    height: 100rem;
}

.container2 p {
    color: rgb(102, 102, 102);
}

.container2 h2 {
    position: absolute;
    margin-top: 150px;
    margin-left: 360px;
    color: rgb(94, 197, 125);
    font-size: 1.1rem;
}

.container2 h3 {
    position: absolute;
    font-size: 2.3rem;
    color: rgb(68, 68, 68);
    margin-top: 200px;
    margin-left: 360px;
}

.computerPic {
    position: absolute;
    margin-top: 370px;
    margin-left: 200px;
    width: 560px;    
}

.circle1 {
    position: absolute;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: rgb(209, 233, 215);
    margin-top: 410px;
    margin-left: 54rem;
}

.container2 h5 {
    position: absolute;
    color: rgb(68, 68, 68);
    font-size: 1.2rem;
}

.container2 p {
    line-height: 1.9rem;
}

.digitalBank {
    position: absolute;
    margin-left: 53rem;
    margin-top: 500px;
}

.pDigitalBank {
    position: absolute;
    margin-left: 53rem;
    margin-top: 550px;
}

.plantPic {
    position: absolute;
    width: 560px;
    margin-left: 48rem;
    margin-top: 47rem;
}

.circle2 {
    position: absolute;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: rgb(209, 233, 215);
    margin-top: 51rem;
    margin-left: 18rem;
} 

.moneyGrow {
    position: absolute;
    margin-top: 56.5rem;
    margin-left: 18rem;
}

.pMoneyGrow {
    position: absolute;
    margin-top: 59.7rem;
    margin-left: 18rem;
}

.creditCardPic {
    position: absolute;
    width: 560px;
    margin-top: 71rem;
    margin-left: 200px;
}

.circle3 {
    position: absolute;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: rgb(209, 233, 215);
    margin-top: 76rem;
    margin-left: 54rem;
}

.freeDebit {
    position: absolute;
    margin-top: 81.5rem;
    margin-left: 54rem;
}

.pFreeDebit {
    position: absolute;
    margin-top: 84.5rem;
    margin-left: 54rem;
}

#arrowUp {
    position: sticky;
    font-size: 2rem;
    color: rgb(94, 197, 125);
}

/*Container 3*/

.container3 {
    position: relative;
    height: 800px;
}

.operations {
    position: absolute;
    margin-top: 150px;
    margin-left: 360px;
    color: rgb(94, 197, 125);
    font-size: 1.1rem;
}

.operationsH {
    position: absolute;
    margin-top: 210px;
    margin-left: 360px;
    color: rgb(68, 68, 68);
    font-size: 2.3rem;
}

.boxContent {
    position: absolute;
    display: block;
    width: 1000px;
    height: 300px;
    background-color: white;
    margin-top: 400px;
    margin-left: 235px;
}

.boxContent button {
    position: absolute;
    height: 50px;
    width: 230px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    box-shadow: 0 -5px 0px gray inset,
    500px 0 0 rgb(255, 255, 255, 0.03) inset;
    color: rgb(68, 68, 68);
}

.boxContent button:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}


#instantTransfers {
   margin-left: 90px;
   background-color: rgb(255, 203, 3);
}

#instantLoans {
    margin-left: 380px;
    background-color: rgb(94, 197, 118);
}

#instantClosing {
   margin-left: 670px;
   background-color: rgb(255, 88, 95);
}

.instantBtn h5 {
    position: absolute;
    color: rgb(68, 68, 68);
    font-size: 1.5rem;
    margin-top: 100px;
    padding-bottom: 20px;
    margin-left: 100px;
    background-color: white;
} 

.instantBtn p {
    position: absolute;
    margin-top: 150px;
    margin-left: 100px;
    background-color: white;
    color: rgb(102, 102, 102);
    line-height: 1.6rem;
}

.contactUs {
    position: relative;
    height: 900px;
}

.contactUs h2 {
    position: absolute;
    margin-top: 150px;
    margin-left: 360px;
    color: rgb(94, 197, 125);
    font-size: 1.1rem;
}

.contactUs h3 {
    position: absolute;
    font-size: 2.3rem;
    color: rgb(68, 68, 68);
    margin-top: 200px;
    margin-left: 360px;
}

.formStyle {
    position: absolute;
    display: block;
    height: 480px;
    width: 430px;
    background-color: white;
    margin-left: 530px;
    margin-top: 300px;
}

.contactUs span {
    position: absolute;
    margin-top: 40px;
    background-color: white;
    margin-left: 70px;
    color:rgb(94, 197, 125);
}

input#fName {
    position: absolute;
    margin-top: 100px;
    margin-left: 100px;
    height: 40px;
    width: 250px;
    padding: 10px;
    border-radius: 30px;
    border-color: rgb(68, 68, 68);
}

input#lName {
    position: absolute;
    margin-top: 180px;
    margin-left: 100px;
    height: 40px;
    width: 250px;
    padding: 10px;
    border-radius: 30px;
    border-color: rgb(68, 68, 68);
}

input#email {
    position: absolute;
    margin-top: 260px;
    margin-left: 100px;
    height: 40px;
    width: 250px;
    padding: 10px;
    border-radius: 30px;
    border-color: rgb(68, 68, 68);
}

textarea#message {
    position: absolute;
    margin-top: 340px;
    margin-left: 100px;
    width: 250px;
    height: 70px;
    padding: 15px;
    border-radius: 30px;
    border-color: rgb(68, 68, 68);
}

#sendButton {
    position: absolute;
    margin-top: 440px;
    margin-left: 180px;
    width: 85px;
    height: 30px;
    border-radius: 10px;
    background-color: rgb(94, 197, 118);
    color: rgb(68, 68, 68);
}

footer {
    height: 100px;
}
footer small {
   margin-left: 600px;
}

#logoFooter {
    margin-top: 50px;
    margin-bottom: 20px;
    margin-left: 650px;
    width: 200px;
}

